.table {
    padding: 20px;
}

.nav{
    display: flex;
    margin-bottom: 10px;
    align-items: center;
    margin-right: auto;
    margin-left: auto;
}

hr{
    border: 1px solid rgb(118, 118, 118);
}

.menu{
    width: 100%;
    display: flex;
    align-items: center;
}

.menu a{
    text-decoration: none;
    color: white;
    margin-right: 5px;
}

.menu img{
    height: 30px;
}

#formSearch{
    padding: 10px;
    width: 100%;
}

#search{
    width: 100%;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.168);
}

.add{
    display: flex;
    padding: 10px;
}

.add a{
    display: flex;
    align-items: center;
    text-decoration: none;
    border: 1px solid white;
    border-radius: 10px;
    color: white;
    padding: 10px;
    transition: 0.2s;
}

.add a:hover{
    background: rgba(255, 255, 255, 0.157);
}

.add img{
    height: 30px;
}

ul{
    font-size: 15px;
    line-height: 30px;
    margin-left: 30px;
    margin-top: 10px;
}

table{
    margin-top: 30px;
    width: 100%;
    padding: 2px;
    border: 1px solid rgba(255, 255, 255, 0.19);
    border-radius: 5px;
}

table img{
    height: 30px;
}

table img:hover{
    background: rgba(255, 255, 255, 0.223);
    border-radius: 5px;
}

th{
    font-size: 13px;
    font-weight: 700;
    background-color: rgba(255, 255, 255, 0.105);
}

td{
    font-size: 13px;
    line-height: 17px;
}

th, td{
    padding: 20px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.19);
    border-left: 1px solid rgba(255, 255, 255, 0.19);
}

#conf{
    width: 25%;
    font-size: 11px;
}

.success{
    text-align: center;
    color: green;
    padding: 10px;
}

.error{
    text-align: center;
    color: coral;
    padding: 10px;
}