.table {
    border: 1px solid rgb(118, 118, 118);
    margin: 10px;
    border-radius: 5px;
    padding: 20px;
}

.nav{
    display: flex;
    margin-bottom: 10px;
    align-items: center;
    margin-right: auto;
    margin-left: auto;
}

hr{
    border: 1px solid rgb(118, 118, 118);
}

.menu{
    width: 100%;
    display: flex;
    align-items: center;
}

.menu a{
    text-decoration: none;
    color: white;
    margin-right: 5px;
}

.menu img{
    height: 30px;
}

#formSearch{
    padding: 10px;
    width: 100%;
}

#search{
    width: 100%;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.168);
}

.add{
    display: flex;
    padding: 10px;
}

.add a{
    display: flex;
    align-items: center;
    text-decoration: none;
    border: 1px solid white;
    border-radius: 10px;
    color: white;
    padding: 10px;
    transition: 0.2s;
}

.add a:hover{
    padding: 11px;
}

.add img{
    height: 30px;
}

ul{
    font-size: 15px;
    line-height: 30px;
    margin: 30px;
    margin-top: 10px;
}

table{
    margin-top: 10px;
    width: 100%;
    padding: 10px;
    text-align: center;
}

table img{
    height: 30px;
}

table img:hover{
    height: 32px;
}

th{
    font-weight: 700;
}

th, td{
    padding: 20px;
    border: 1px solid rgba(255, 255, 255, 0.535);
    border-radius: 2px;
}